* {{
    background: {background};
    background-alt: {color1};
    foreground: {foreground};
    foreground-alt: {color8};
    border: {color4};
    selected: {color2};
    active: {color1};
    urgent: {color3};
  }}
